@page
@using EF_Core1.Classes
@model EF_Core1.Pages.CustomersModel

@{
    ViewData["Title"] = "Customers";
}



<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].City)
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model.Customers)
            {

                <tr>
                    <td>
                        @if (item.CustomerIdentifier.IsEven())
                        {
                            <span class="fw-bold">@Html.DisplayFor(modelItem => item.CompanyName)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
