@page
@model WriteSeparateFromEfCore.Pages.ListPageModel

@{
    ViewData["Title"] = "ListPage";
}

<h1 class="fs-4 mb-3 ps-2 border-bottom border-start border-primary">Data</h1>

<form method="post">
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserLogin[0].EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserLogin[0].Pin)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserLogin)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pin)
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Log" class="btn btn-primary" asp-page-handler="Button1" />
</form>
